.fab{
    font-size: 1.75rem;
}
.fab:hover{
    transform: scale(1.15);
}
.fa-facebook:hover{
    color: #1877f2;
}
.fa-twitter:hover{
    color: #1da1f2;
}
.fa-tiktok:hover{
    color:  #010101;
}
.fa-instagram:hover{
    color: #c32aa3;
}
.fa-linkedin:hover{
    color: #0a66c2;
}
.fa-whatsapp:hover{
    color: #25d366 ;
}