.log{
    width: 90%;
    max-width: 380px;
    margin: auto;
    padding: 0 2rem;
    
    background-color: rgba(240, 248, 255, 0.101);
    border-radius: 20px;
}

.imglog{
    width: 90%;
    display: block;
    margin: auto;
    max-height:400px
    
}
.imgreg{
    width: 90%;
    display: block;
    margin: auto;
    max-height:460px
    
}

.reg{
    margin-top: 20px;
    
    color: azure;
    cursor: pointer;

}
.reg:hover{
    color: rgba(240, 255, 255, 0.551);
    text-decoration: underline;
}

.icon{
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 0px;
    padding-left: 10px;
    background-color: rgba(240, 248, 255, 0.1);
    /* border-radius: 5px; */
    border-radius:5px 0 0 5px;

    
}

.register{
    margin: 10px auto !important;
    width: 80%;
    max-width: 500px;
    min-width: 300px !important;
    margin: auto;
    padding: 0 1.8rem;
    
    background-color: rgba(240, 248, 255, 0.101);
    border-radius: 20px;
    min-width: 350px;
}